*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
   

}

:root{
    --bg-color:#fff;
    --text-color:#221314;
    --second-color:#5a7184;
    --main-color:#6e54fa;
    --big-font:6rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
}

.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--bg-color);
}
.heritage title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}
.title{
    font-size: 30px;
    color:var(--text-color);
    font-family: 'Poppins', sans-serif;
    align-items:flex-start;
}
.navbar{
    display:contents;
}

.navbar a{
    color:#221314;
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

.navbar a:hover{
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 45 52 / 20% );
    border-radius: 4px;
}

#menu-icon{
    color: var(--bg-color);
    font-size: 10001;
    cursor: pointer;
    display: none;
}



.heritage-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    grid-gap:2rem;
    align-items: center;
    margin-top: 5rem;
}

.thum{
    position: relative;
    transition: all .3s cubic-bezier(.445,.05,.55,.95);
    will-change: filter;
    cursor: pointer;
}

.thum img{
    width: 100%;
    height:400px;
    object-fit: cover; 
}

.thum h3{
    position:absolute;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    color: var(--bg-color);
    top: 36px;
    right: 40px;
}

.dest-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.stars i{
    color: var(--main-color);
    font-size: 20px;
}


.location h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}

.location p{
    font-size: 15px;
    color: var(--second-color);
}

.thum:hover{
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.04);
}


.footerContainer {
    padding: 10px 200px;
    width: 100vw;
    margin-top: 50px;
    background-color: #e8e8ec;

}

.footerContainer .subFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.footerContainer .subFooter .subLinks,
.socialLinks,
.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #0f3052;
    flex: 1;

}

.footerContainer .subFooter h2 {
    font-size: 20px;
    font-weight: 500;

}

.footerContainer .socialLinks .socialIcon {
    font-size: 20px;
    color: #0f3052;
    transition: 0.6s;
    margin-right: 20px;
}

.footerContainer .copyRight {
    text-align: center;
    color: #0f3052;
    margin-bottom: 20px;
    margin-top: 100px;

}

.footerContainer .copyRight h4 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;

}